/dts-v1/;
#include "rk3399pro-amolk.dtsi"
#include "rk3399-linux.dtsi"

/ {
	compatible = "rockchip,rk3399pro-amolk",
				 "rockchip,rk3399pro-amolk-linux",
				 "rockchip,rk3399pro";
	model = "Rockchip RK3399Pro Board (Linux)";
};

&hdmi {
	#sound-dai-cells = <0>;
	rockchip,phy-table =
		<74250000  0x8009 0x0004 0x0272>,
		<165000000 0x802b 0x0004 0x0209>,
		<297000000 0x8039 0x0005 0x028d>,
		<594000000 0x8039 0x0000 0x00f6>,
		<000000000 0x0000 0x0000 0x0000>;
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&hdmi_in_vopl {
	status = "disabled";
};

&hdmi_in_vopb {
	status = "okay";
};

&route_hdmi {
	status = "okay";
	connect = <&hdmi_in_vopb>;
};

&dsi {
	status = "okay";

	panel@0 {
		compatible = "gelivable,gd3385a";
		reg = <0>;
		backlight = <&backlight>;
		power-gpios = <&gpio4 RK_PD6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
		updn-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		shlr-gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		vcc-lcd-supply = <&vcc5v0_sys>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&dsi_in_vopb {
	status = "disabled";
};

&dsi_in_vopl {
	status = "okay";
};

&route_dsi {
	status = "okay";
	connect = <&dsi_in_vopl>;
};

&route_edp {
	status = "disabled";
};
