/dts-v1/;
#include "rk3399pro-amolk.dtsi"
#include "rk3399-android.dtsi"

/ {
	compatible = "rockchip,rk3399pro-toybrick-prod-android", "rockchip,rk3399pro";
	model = "Rockchip RK3399Pro Android board";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff1a0000 earlyprintk loglevel=7 swiotlb=1 console=ttyFIQ0 androidboot.baseband=N/A androidboot.veritymode=enforcing androidboot.hardware=rk30board androidboot.console=ttyFIQ0 init=/init initrd=0x62000000,0x00800000 coherent_pool=1m";
	};
};

/*
&firmware_android {
	compatible = "android,firmware";

	fstab {
		compatible = "android,fstab";

		system {
			compatible = "android,system";
			dev = "/dev/block/by-name/system";
			type = "ext4";
			mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
			fsmgr_flags = "wait";
		};

		vendor {
			compatible = "android,vendor";
			dev = "/dev/block/by-name/vendor";
			type = "ext4";
			mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
			fsmgr_flags = "wait";
		};
	};
};
*/

&hdmi_in_vopl {
	status = "disabled";
};

&route_hdmi {
	status = "okay";
};

&dsi {
	status = "okay";
	/delete-node/ 	panel@0;

	dsi_panel: panel@0 {
		compatible = "gelivable,gd3385a";
		reg = <0>;
		backlight = <&backlight>;
		power-gpios = <&gpio4 RK_PD6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
		updn-gpios = <&gpio3 RK_PD0 GPIO_ACTIVE_HIGH>;
		shlr-gpios = <&gpio3 RK_PD7 GPIO_ACTIVE_HIGH>;
		standby-gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		vcc-lcd-supply = <&vcc5v0_sys>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&dsi_in_vopb {
	status = "disabled";
};

&route_dsi {
	status = "okay";
};

&route_edp {
	status = "disabled";
};
